<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  {% extends 'base.html' %}
  {% load static %}

  {% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
  {% endblock %}
  
  {% block content %}
  
  <h1>Welcome to Device Finder!</h1>
  <hr />
  <section class="logo-container">
    <div class="cat-container">
      <img src="{% static 'images/splash.svg' %}" alt="The Cat Collector Cat" />
    </div>
    <img 
      src="{% static 'images/logotype.svg' %}" 
      alt="Text reads: Cat Collector"
    />
  </section>
  
  {% endblock %}
  
</body>
</html>
