<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  {% extends 'base.html' %}
  {% load static %}

  {% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
  {% endblock %}
  
{% block content %}
  
  {% if not user.is_authenticated %}

  <section class="logo-container">
    <h1 class="logo-text">Welcome to Med Device Helper!</h1>
  </section>

 <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <div class='btn-login'> 
        <button type="submit" class="btn warn">Login</button>
        <button class="btn warn">
          <a href="{% url 'signup' %}">Signup</a>
        </button>
      </div>
    </form>
  </section>

{% elif user.is_authenticated %}

<section class="logo-container">
  <h1 class="logo-text">Welcome to Med Device Helper!</h1>
</section>

<section>
    <div class='btn-logout'> 
      <button type="submit" class="btn warn"><a href="{% url 'logout' %}">Logout</a></button>
    </div>
</section>

{% endif %}
  

  {% endblock %}
  
</body>
</html>


