<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  {% extends 'base.html' %}
  {% load static %}

  {% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
  {% endblock %}
  
  {% block content %}
  
  <h1>Welcome to Device Finder!</h1>

  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
  
  {% endblock %}
  
</body>
</html>
