{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/hospitals/hospital-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="hospital-container">
  <div class="hospital-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="hospital-actions">
    <a href="{% url 'hospitals_update' hospital.id %}" class="btn warn">Edit</a>
    <a href="{% url 'hospitals_delete' hospital.id %}" class="btn danger">Delete</a>
  </div>
  <div class="hospital-details">
    <h1>{{ hospital.name }}</h1>

  </div>
</section>

{% endblock %}