{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/hospitals.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>My Hospitals</h1>
</section>

<section class="add-hospital">
  <a href="{% url 'hospitals_create' %}">
    <h3>Add Hospital</h3>
  </a>
</section>

<section class="card-container">
  {% for hospital in hospitals %}
    <div class="card">
      <a href="{% url 'hospitals_detail' hospital.id %}">
        <div class="card-content">
          <h2 class="card-title">{{ hospital.name }}</h2>
        </div>
      </a>  
    </div>
  {% endfor %}
</section>

{% endblock %}