{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/hospitals/hospital-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="my-hospitals">
  <h1>My Hospitals</h1>

  <a href="{% url 'hospitals_create' %}">
    <h3>Add Hospital</h3>
  </a>
</section>

  
<section class="card-container">
  {% for hospital in hospitals %}
  <a href="{% url 'hospitals_detail' hospital.id %}">
    <div class="card">
      <div class="card-content">
        <h2 class="card-title">{{ hospital.name }}</h2>
      </div>
    </div>
  </a>  
  {% endfor %}
</section>

  {% endblock %}

  <div class="card-deck">
    {% for book in books %}
        {% include 'books/book_element.html' %}
        {% if forloop.counter|divisibleby:"5"  %}
            {# Close the current deck and start a new one %}
            </div><div class="card-deck">
        {% endif %}
    {% endfor %}
</div><!-- The final dec